
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --button-sec-color: #F5F4FA;
    --text-wight: #ffffff;
}

body {
    background-color: white;
    color: var(--primary-text-color);
    font-family: Roboto, Calibri, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

/* Logo */

.logo-heder {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
    text-decoration: none
}

.logo-web {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none
}

.site-nav .link:hover, 
.site-nav .link:focus,
.contact-hd .contact-link:hover,
.contact-hd .contact-link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Contact */

.contact-hd .contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none
}

/* Hero */

.hero,
.footer {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button */

.button {

}

.button.primary {
    color: white;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-secondary {
    color: var(--title-text-color);
    background-color: var(--button-sec-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus {
    color: var(--text-wight);
    background: var(--accent-color);
}

/* Page */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
}

/* Comand */

.section-comand {
    background-color: #F5F4FA;
}

.card {
    background: #ffffff;
}

.section-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* Footer */

.logo-footer {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: #FFFFFF;
    text-decoration: none
}

.contact-ft {
    font-style: normal;
}

.contact-ft .contact-adr-link {
    color: var(--text-wight);
    text-decoration: none
}

.contact-ft .contact-link {
    color: var(--contact-footer-color);
    text-decoration: none
}

.contact-ft .contact-link:hover,
.contact-ft .contact-link:focus,
.contact-ft .contact-adr-link:hover,
.contact-ft .contact-adr-link:focus {
    color: var(--accent-color);
}

/* Portfolio */

.work-name {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}